.mesh_wrapper {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3f3f3f;
  opacity: 0.6;
  overflow-y: hidden;
}
.mesh_image {
  z-index: 101;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  @media (max-width: 650px) {
    width: 360px;
  }
}
