.swiper {
  position: relative;
  margin-bottom: 50px;
}

.prev {
  z-index: 99;
  position: absolute;
  color: #000;
  top: 40%;
  left: -20px;
  cursor: pointer;
}

.next {
  z-index: 99;
  position: absolute;
  color: #000;
  top: 40%;
  right: -20px;
  cursor: pointer;
}

@media (max-width: 1100px) {

  .next {
    right: -10px;
  }

  .prev {
    left: -10px;

  }
}

@media (max-width: 750px) {

  .next,
  .prev {
    display: none;
  }
}