.footer {
  background: #181818;
  .container {
    max-width: 1440px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-end;
    background: #181818;
    .links {
      display: flex;
      align-items: center;
      .logo {
        margin-right: 16px;
      }
      .social_logos {
        margin-right: 16px;
      }
    }
    .footer_year {
      color: #fff;
      font-family: Comfortaa;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .email {
      position: absolute;
      top: 25px;
      right: 75px;
      color: #fff;
      font-family: Comfortaa;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
