.footer {
  background: #181818;
  .container {
    max-width: 1440px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    background: #181818;

    @media (max-width: 670px) {
      align-items: center;
      justify-content: center;
    }
    .links {
      display: flex;
      align-items: center;

      .logo {
        width: 100px;
        margin: 20px;
      }
      .social_logos {
        margin-right: 16px;
      }
    }

    .teg_block {
      .footer_year {
        color: #fff;
        font-family: Comfortaa;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .email {
        color: #fff;
        font-family: Comfortaa;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
