.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
  .title {
    color: #000;
    font-family: Comfortaa;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .sub_title {
    margin: 20px 0 35px;
    color: #000;
    font-family: Comfortaa;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .item_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
      ". . . ."
      ". . . .";

    @media (max-width: 1090px) {
      gap: 17px 17px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        ". . ."
        ". . .";
    }

    @media (max-width: 800px) {
      gap: 17px 17px;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        ". ."
        ". .";
    }

    @media (max-width: 550px) {
      gap: 17px 17px;
      grid-template-columns: 1fr;
      grid-template-areas:
        "."
        ".";
    }
    .card {
      .card_photo {
        width: 244.98px;
        height: 245.461px;
        flex-shrink: 0;
        border-radius: 25px;
      }
      .card_title {
        color: #000;
        font-family: Comfortaa;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
}
