.popular {
  position: relative;
  margin: 30px auto 50px;
  text-align: center;

  .popular_button {
    padding: 10px 40px;
    border-radius: 25px;
    border: 2px solid #000;
    color: #000;
    font-family: Comfortaa;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    transition: background 0.5s linear;
    &:hover {
      background: #a8a8a8;
    }
  }
}
